    *{
        margin:0;
        padding:0;

    }


    body{
    width:80%;
    margin: 0 auto ;
    background-color:rgb(236,236,234);
    padding: 20px;
    font-family: "Helvetica",sans-serif;
    
    
    }

   .menu{
    display: flex;
    justify-content: space-between;
  
   }

   .links{
    border: 1px solid #fff;
    display: flex;
    justify-content: flex-end;

   }


   .login{
    margin-left: 20px;
   }


   .flex-contanier{
    flex-direction:row;
    justify-content: space-around;
    display: flex;
    align-items: center;
 
    
    

   }

   .flex-item{
    flex:0 1 auto;
    align-self:center;
    order: 2;
   }

   .header-container{
    color: #5995DA;
    background-color: #D6E9FE ;
    display:flex;
    justify-content: center;


    
   }

   .header{
    width: 900px;
    height:300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    } */

    /* .photo-grid{
        display: flex;
        flex-direction: row;
        gap: 20px;
        justify-content:center ;
    } */


    .photo-grid-container{
        display: flex;
        justify-content: center;
    }

    .photo-grid{
       
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 900px;
    }


    .photo-grid-item{
        border: 1px solid red ;
        width:300px;
        height:300px;
        
    }

    .fourth-item{
        border: 5px solid blue;
    }


    

   
  

  
   
   
/* 
   table{
    background-color: #333;
    color: #fff;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;

   }

   .main-content{
    width:70%;
    float:left;
    padding: 10px;
    color:red;
    font-style: italic;
    
   }



   .italic{
    font-style: italic;
    font-size: 50px;
    font-weight: 800;
    color: aqua;

   }

   h1,h2,h3{
    text-align: left;
    font-family: "Edu NSW ACT Foundation", cursive;
    
   }

 
 
   img{
    width: 30%;
    height:30%;
    
   }


   #myDiv{
    background-color: green;
    font-size: 18px;
    width:20%;
   }

id unique */






/* yatayda hizalama justify content düşeyde align items ile hizalama */

/* flex wrap no ise yatyda kayırdma gerekli with  */

/* 
space around her eksen eşit space between baştan sondan eşit ortası eşit değil  */

/* flex 1 ise flex değişebilir flex initial ise sabit */





