/* 3/26/2024 */


    *{
        margin:0;
        padding:0;

    }


    body{
    width:80%;
    margin: 0 auto ;
    background-color:rgb(236,236,234);
    padding: 20px;
    font-family: "Helvetica",sans-serif;
    
    
   }

   .menu{
    display: flex;
    justify-content: space-between;
  
   }

   .links{
    border: 1px solid #fff;
    display: flex;
    justify-content: flex-end;

   }


   .login{
    margin-left: 20px;
   }

   
  

  
   
   
/* 
   table{
    background-color: #333;
    color: #fff;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;

   }

   .main-content{
    width:70%;
    float:left;
    padding: 10px;
    color:red;
    font-style: italic;
    
   }



   .italic{
    font-style: italic;
    font-size: 50px;
    font-weight: 800;
    color: aqua;

   }

   h1,h2,h3{
    text-align: left;
    font-family: "Edu NSW ACT Foundation", cursive;
    
   }

 
 
   img{
    width: 30%;
    height:30%;
    
   }


   #myDiv{
    background-color: green;
    font-size: 18px;
    width:20%;
   }

id unique */


